@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
.header {
  padding: 2rem 3rem 1rem 3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  position: relative;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  z-index: 99;
}
.header .header-navbar {
  list-style: none;
}
.header .header-name {
  color: #ffffff;
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  font-size: 1.5rem;
  cursor: pointer;
}
.header .header-name::before {
  content: "< ";
  color: #e9d946;
}
.header .header-name::after {
  content: " />";
  color: #e9d946;
}
.header .header-name:hover {
  text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.5);
}

.navbar-item {
  display: inline-block;
  padding: 0.5rem 0rem;
  margin: 0 1rem;
  position: relative;
  transition: all 0.35s ease;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}
.navbar-item::before {
  content: "";
  position: absolute;
  background: #e9d946;
  width: 100%;
  height: 0.2rem;
  bottom: 0;
  left: 0;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out;
}
.navbar-item:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

header.sticky {
  padding: 0 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #333;
  position: fixed;
  width: 100%;
}

header.sticky nav a,
header.sticky .header-name {
  color: #ffffff;
}

.header-sidebar {
  position: fixed;
  width: 10rem;
  height: calc(100vh - 2rem);
  top: 2rem;
  right: -100%;
  background-color: #333;
  transition: all 0.3s ease;
  z-index: 100;
}

.visible {
  right: 0;
}

.hidden {
  display: none;
}

@media (max-width: 320px) {
  .header-navbar {
    display: none;
  }
}
@media (max-width: 630px) {
  .header {
    padding: 1rem 1rem 0.5rem 1rem;
  }

  .header-navbar {
    display: none;
  }
}
@media (min-width: 630px) {
  .burger {
    display: none;
  }

  .header-sidebar {
    display: none;
  }
}
.burger {
  font-size: 1rem;
  cursor: pointer;
  padding: 1rem 1rem;
  z-index: 101;
}
.burger > div {
  width: 1.4rem;
  height: 0.2rem;
  border-radius: 3px;
  background: #e9d946;
}
.burger > div::before, .burger > div::after {
  transition: font-size 0s;
  content: "";
  display: block;
  position: absolute;
  width: 1.4rem;
  height: 0.2rem;
  background: #e9d946;
  border-radius: 3px;
}
.burger > div::before {
  margin-top: -0.5rem;
}
.burger > div::after {
  margin-top: 0.5rem;
}

.main-container {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 3rem;
}

.main-container > * {
  width: 100%;
  height: 45rem;
  padding: 0 2rem;
}

.main-description {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main-description picture img {
  width: 20rem;
  height: 20rem;
}
.main-description .personal-description {
  height: 15rem;
  flex-basis: 50%;
}
.main-description .personal-description h1 {
  font-family: "Roboto Mono", monospace;
  font-weight: 900;
  width: 100%;
  font-size: 2.5rem;
  color: #333;
}
.main-description .personal-description p {
  padding: 1rem 1rem 0 0;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}

.main-tools {
  background-color: #333;
}
.main-tools .tools-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main-tools .tools-container div {
  width: 40%;
  min-width: 20%;
  flex-shrink: 1;
}
.main-tools .tools-container div .tools-title {
  color: #ffffff;
  text-align: center;
  font-size: 2.5rem;
  position: relative;
  padding: 0.5rem 2rem;
}
.main-tools .tools-container div .tools-title::after {
  content: "";
  background-color: #e9d946;
  top: 0;
  right: 0;
  position: absolute;
  width: 3px;
  height: 100%;
}
.main-tools .tools-container .tools-list {
  height: 20rem;
  width: 60%;
  padding: 1rem;
  flex-shrink: 3;
}
.main-tools .tools-container .tools-list .list-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.5rem 1rem;
  grid-template-areas: "1 2 3 4" "5 6 7 8";
  width: 100%;
  height: 100%;
  align-items: center;
  justify-items: center;
}
.main-tools .tools-container .tools-list .list-icons .tool-icon {
  background-color: #333;
  height: 6rem;
  width: 100%;
  max-width: 8rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}
.main-tools .tools-container .tools-list .list-icons .tool-icon a {
  text-decoration: none;
  font-size: 4rem;
  color: white;
  padding: 0.5rem 1.5rem;
}
.main-tools .tools-container .tools-list .list-icons .tool-icon a img {
  width: 4rem;
}
.main-tools .tools-container .tools-list .list-icons .tool-icon:nth-child(1) a {
  color: #ff7a3c;
}
.main-tools .tools-container .tools-list .list-icons .tool-icon:nth-child(2) a {
  color: #3399FF;
}
.main-tools .tools-container .tools-list .list-icons .tool-icon:nth-child(3) a {
  color: #F7E018;
}
.main-tools .tools-container .tools-list .list-icons .tool-icon:nth-child(4) a {
  color: #764da0;
}
.main-tools .tools-container .tools-list .list-icons .tool-icon:nth-child(5) a {
  color: #CD6799;
}
.main-tools .tools-container .tools-list .list-icons .tool-icon:nth-child(6) a {
  color: #7DDFFF;
}
.main-tools .tools-container .tools-list .list-icons .tool-icon:nth-child(8) a {
  color: #F05030;
}
.main-tools .tools-container .tools-list .list-icons .tool-icon:hover {
  background-color: #3b3b3b;
}

.main-projects {
  background-color: #333;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: " project1 project2 " " project3 project4 ";
  padding-bottom: 2rem;
  height: auto;
  row-gap: 1rem;
}
.main-projects .main-projects__project1, .main-projects .main-projects__project2, .main-projects .main-projects__project3 {
  background-color: white;
  min-width: 20rem;
  max-width: 28rem;
  align-self: center;
  height: 28rem;
  border-radius: 5px;
  overflow: hidden;
}
.main-projects .main-projects__project1 {
  justify-self: end;
  margin-right: 1rem;
}
.main-projects .main-projects__project2 {
  justify-self: start;
  margin-left: 1rem;
}
.main-projects .main-projects__project3 {
  grid-column-start: 1;
  grid-column-end: -1;
  justify-self: center;
}
.main-projects .main-projects__project1 .project-content .project-content__img img, .main-projects .main-projects__project2 .project-content .project-content__img img, .main-projects .main-projects__project3 .project-content .project-content__img img {
  height: 12rem;
  width: 100%;
  background-size: cover;
}
.main-projects .main-projects__project1 .project-content .project-content__details, .main-projects .main-projects__project2 .project-content .project-content__details, .main-projects .main-projects__project3 .project-content .project-content__details {
  padding: 1.5rem;
  background-color: #ffffff;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.main-projects .main-projects__project1 .project-content .project-content__details .project-description, .main-projects .main-projects__project1 .project-content .project-content__details div, .main-projects .main-projects__project2 .project-content .project-content__details .project-description, .main-projects .main-projects__project2 .project-content .project-content__details div, .main-projects .main-projects__project3 .project-content .project-content__details .project-description, .main-projects .main-projects__project3 .project-content .project-content__details div {
  flex-grow: 1;
}
.main-projects .main-projects__project1 .project-content .project-content__details .project-description, .main-projects .main-projects__project2 .project-content .project-content__details .project-description, .main-projects .main-projects__project3 .project-content .project-content__details .project-description {
  color: #333;
  font-size: 1.1rem;
}
.main-projects .main-projects__project1 .project-content .project-content__details div .details-btn, .main-projects .main-projects__project2 .project-content .project-content__details div .details-btn, .main-projects .main-projects__project3 .project-content .project-content__details div .details-btn {
  margin-top: 1rem;
  font-size: 1.1rem;
  height: 2rem;
  border: none;
  background-color: #333;
}
.main-projects .main-projects__project1 .project-content .project-content__details div .details-btn a, .main-projects .main-projects__project2 .project-content .project-content__details div .details-btn a, .main-projects .main-projects__project3 .project-content .project-content__details div .details-btn a {
  border-radius: 4px;
  color: #ffffff;
  position: relative;
  text-decoration: none;
  padding: 0.5rem 1rem;
  z-index: 1;
  transition: color 0.5s ease;
}
.main-projects .main-projects__project1 .project-content .project-content__details div .details-btn a::before, .main-projects .main-projects__project2 .project-content .project-content__details div .details-btn a::before, .main-projects .main-projects__project3 .project-content .project-content__details div .details-btn a::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}
.main-projects .main-projects__project1 .project-content .project-content__details div .details-btn a:hover, .main-projects .main-projects__project2 .project-content .project-content__details div .details-btn a:hover, .main-projects .main-projects__project3 .project-content .project-content__details div .details-btn a:hover {
  color: #333;
}
.main-projects .main-projects__project1 .project-content .project-content__details div .details-btn a:hover::before, .main-projects .main-projects__project2 .project-content .project-content__details div .details-btn a:hover::before, .main-projects .main-projects__project3 .project-content .project-content__details div .details-btn a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.main-projects .main-projects__project1 .project-content .project-content__details div .details-btn a::before, .main-projects .main-projects__project2 .project-content .project-content__details div .details-btn a::before, .main-projects .main-projects__project3 .project-content .project-content__details div .details-btn a::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background-color: #e9d946;
  border-radius: 4px;
  z-index: -1;
  transition: transform 0.5s ease;
}

.footer {
  background-color: #333;
  width: 100vw;
  height: 20vh;
  padding: 2rem;
}

.footer-social {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: stretch;
}
.footer-social .footer-social-title {
  color: #ffffff;
  letter-spacing: 3px;
  text-align: center;
  font-size: 1rem;
  height: 100%;
}

.social-link i {
  color: white;
  padding: 0.5rem;
  margin: 0 0.7rem;
  cursor: pointer;
  border-radius: 3px;
  font-size: 1.5rem;
  transition: background-color 0.3s ease;
}

.social-link i:hover {
  background-color: rgba(27, 27, 27, 0.5);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  background-color: #e9d946;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/*# sourceMappingURL=styles.css.map */
