@import './config/colors';
@import './config/fonts';
@import './components/header';
@import './components/main';
@import './components/footer';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: $font-f-paragraph;
  background-color: $secondary-color;
  max-width: 1366px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}