.footer {
  background-color: $secondary-color;
  width: 100vw;
  height: 50vh;
  padding: 2rem;
  padding-top: 4rem;
  position: relative;

  &::before {
    content: '';
    background-color: $primary-color;
    top: 0;
    left: 25%;
    width: 50%;
    height: 2px;
    position: absolute;
  }
}

.footer-social {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

  & .footer-social-title {
    color: $light;
    letter-spacing: 3px;
    text-align: center;
    font-size: 2rem;
    height: 50%;
    font-family: $font;
    font-weight: 700;
    align-content: center;
  }

  & .footer-social-links {
    height: 50%;
  }
}

.social-link i {
  color: $light;
  padding: 1rem;
  margin: 0 .7rem;
  cursor: pointer;
  border-radius: 3px;
  font-size: 2rem;

  transition: background-color 0.3s ease;
}

.social-link i:hover {
  background-color: rgba(27, 27, 27, 0.5);
}
