.header {
  padding: 2rem 3rem 1rem 3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $secondary-color;
  position: fixed;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  z-index: 100;

  
  & .header-navbar {
    list-style: none;
  }

  // & .logo {
  //   cursor: pointer;
  //   transition: all 0.3s ease;
  // }

  & .header-name {
    color: $light;
    text-decoration: none;
    font-family: $font-title;
    font-size: $title-font-size;
    cursor: pointer;
  }
  
  & .header-name::before {
    content: "< ";
    color: $primary-color;
  }
  
  & .header-name::after {
    content: " />";
    color: $primary-color;
  }

  & .header-name:hover {
    text-shadow: 0px 0px 1px rgba($color: $light, $alpha: 0.5);
  }
}


.nav-menu i{
  color: white;
  cursor: pointer;
  position: absolute;
  right: 2rem;
  top: 1.6rem;
  display: none;
  z-index: 101;
}

.navbar-item {
  display: inline-block;
  padding: 0.5rem 0rem;
  margin: 0 1rem;
  position: relative;
  transition: all .35s ease;
  color: $light;
  cursor: pointer;
  font-size: $paragraph;
  font-weight: 500;

  &::before {
    content: "";
    position: absolute;
    background: $primary-color;
    width: 100%;
    height: 0.2rem;
    bottom: 0;
    left: 0;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out;
  }

  &:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }
}

header.sticky {
  padding: .3rem 3rem;
  background-color: $light;
}


header.sticky nav a,
header.sticky .header-name
{
  color: $secondary-color;
}



// cambio de estilos al svg
// header.sticky .background {
//   fill: $light;
// }

// .letter {
//   transition: all 0.3s ease;
// }

// header.sticky .letter {
//   fill: $secondary-color;
// }