
//-----Colors

$primary-color: #FFD369;
$secondary-color: #333;
$light: #ffffff;

// $secondary-color: #FFD369;
// $primary-color: #333;
// $light: #ffffff;

// $primary-color: #F05454;
// $secondary-color: #222831;
// $light: #fff;

