@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;700&display=swap');
//------Fonts

$title-font-size: 2.5rem;
$paragraph: 1rem;
$buttons: 1.2rem;

$font: 'Roboto Mono', monospace;