@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
//------Fonts

$title-font: 1.4rem;
$paragraph: 1rem;
$buttons: 1.2rem;

$font-f-paragraph: 'Open Sans', sans-serif;
$font-title: 'Roboto Mono', monospace;